
#preview .ml-cn {
    font-family: Noto Sans KR;
    font-size:inherit;
    line-height: 1;

  /*below two lines are for baseline shift */
  /* position:relative;
  top:0;*/ 
}

#preview .ml-jp {
    font-family: Noto Sans KR;
    font-size:inherit;
    line-height: 1;

  /*below two lines are for baseline shift */
  /* position:relative;
  top:0; */
}

span.ml-num {
  /* font-family: 'Nanum Gothic', Arial, sans-serif;
  font-size:15px; */
  /*below two lines are for baseline shift */
  /* position:relative;
  top:0; */
}

span.ml-punct {
  /* font-family: 'Nanum Gothic', Arial, sans-serif;
  font-size:14px; */
  /*below two lines are for baseline shift */
  /* position:relative;
  top:0; */
}