
@font-face {
    font-family: 'CJO_R_B';
    src: url("../CJ ONLYONE_files/CJ_ONLYONE_Renewal_body_glyphTrimmed-VF.woff2") format('woff2-variations');
    font-style: normal;
}


@font-face {
    font-family: 'CJO_R_T';
    src: url("../CJ ONLYONE_files/CJ_ONLYONE_Renewal_title_glyphTrimme-VF.woff2") format('woff2-variations');
    font-style: normal;
}
